html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 240px;
}

#main-h1 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    color: black;
    text-align: center;
}

.login-section-content {
    width: 40%;
    margin: auto;
}

#choose-login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
}

.choice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 300ms;
    cursor: pointer;
    height: 80px;
    width: 50%;
}

#student-login {
    background: white;
    color: black;
}

.section-h2 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

#section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

#reg-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
}

.btn-lg {
    margin-top: 20px;
}

#reg-image {
    transition: height 300ms, width 300ms;
}

#reg-button:hover #reg-image {
    width: 38px;
    height: 38px;
}

.teacher-login-content {
    display: none;
}

#noreg-info {
    color: black;
    transition: color 100ms;
    padding-right: 5px;
}

#noreg-info:hover {
    color: #17a2b8;
    text-decoration: none;
}

#noreg-info-block {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 80%;
    font-weight: 400;
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    height: 30px;
    width: 100%;
    top: -100px;
    transition: top 400ms;
    text-align: center;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.failed {
    color: #D8000C;
    background-color: #FFD2D2;
}

#key-validation{
    font-size: 0.7rem !important;
}

@media (max-width: 1024px) {
    .login-section-content {
        width: 60%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .login-section-content {
        width: 90%;
        margin: auto;
    }

    #choose-login {
        width: 100%;
    }

    .info {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    #edukan {
        width: 300px;
    }

    #main-header {
        height: 150px;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
