html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    position: relative;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 240px;
}



#main-h1 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    color: black;
    text-align: center;
}

.section-content {
    width: 70%;
    margin: auto;
}
.section-h2 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    height: 30px;
    width: 100%;
    top: -100px;
    transition: top 400ms;
    text-align: center;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 57;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.failed {
    color: #D8000C;
    background-color: #FFD2D2;
}

h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    margin: auto;
}


#section-header {
    margin-top: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#submit-test-button{
    margin-top: 20px;
    margin-bottom: 300px;
}
#time-counter{
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    right: 15%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #17a2b8;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 100;
}

math-field {
    cursor: pointer;
    border: 1px solid #ced4da;
    width: 94%;
    border-radius: 2px;
}

.picture-form{
    width: 94%;
}

.question-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 20px;
}

.question-header{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.change-input-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
}

.change-input-image {
    transition: height 300ms, width 300ms;
}

.change-input-button:hover .change-input-image {
    width: 29px;
    height: 29px;
}

.canvas-style{
    width: 94%;
    height: 500px;
    border: solid 3px black;
    box-shadow: black 3px 3px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.canvas-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-bottom: 5px;
}

.save-button{
    width: 94%;
}

.whole-canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draw-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.draw-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    margin-left: 10px;
}

.draw-img{
    width: 25px;
    height: 25px;
    transition: height 300ms, width 300ms;
}

.draw-button:hover .draw-img {
    width: 29px;
    height: 29px;
}


.clean-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.clean-img{
    width: 30px;
    height: 30px;
    transition: height 300ms, width 300ms;
}

.clean-button:hover .clean-img {
    width: 35px;
    height: 35px;
}


.custom-file-label::after{
    content: "Prechádzať";
}

.modal-footer{
    justify-content: space-around;
}

.modal-footer button{
    width: 48%;
}

.modal-body{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}



#are-you-sure-label{
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
}
@media (max-width: 768px) {
    .section-content{
        width: 90%;
    }
    .section-h2{
        font-size: 25px;
    }
    #time-counter{
        right: 5%;
        font-size: 20px;
        width: 80px;
        height: 40px;
    }
    .connect-card{
        width: 7rem !important;
        height: 7rem !important;
        padding: 0.5rem;
    }
    h4{
        font-size: medium;
    }
}
@media (max-width: 576px) {
    #edukan {
        width: 300px;
    }

    #main-header {
        height: 150px;
    }
    .connect-card{
        width: 6rem !important;
        height: 6rem !important;
        padding: 0.5rem;
    }
    h4{
        font-size: medium;
    }
}
@media (max-width: 400px) {
    .connect-card{
        width: 5rem !important;
        height: 5rem !important;
        padding: 0.5rem;
    }
    h4{
        font-size: small;
    }
}

.connect-card{
    border-radius:15px;
    border:1px solid black;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    vertical-align: middle;
}
.connector-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 90%;
}

.input-area-short{
    width: 96%;
}

.checkbox-div{
    padding: 5px;
}
.checkbox-array-div{
    width: 80%;
}
